h1{
	color: red;
	text-align: center;
}

#titleHead{
	text-align: center;
	opacity: 1;
  filter: alpha(opacity=100);
}

#btnsGrp{
	height:100%; 
vertical-align:center; 
line-height : 100%; 
}
.page-header{
  width: 100%;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#bgimg {

  opacity: 0.5;
  filter: alpha(opacity=50);
}

#btms {
	text-align: center;
}